.AccountInfo-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 80%;
    color: #685BE0;
}
.AccountInfo-inputs{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    text-align: left;
    gap: 10%;
    margin-bottom: 10%;
}
.AccountInfo-password{
    display: grid;
    text-align: left;
    margin-bottom: 5%;
    row-gap: 5%;
}


.ShippingInfo-container{
    color: #685BE0;
}

.ShippingInfo-inputs{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    text-align: left;
    gap: 10%;
    margin-bottom: 10%;
}

.PaymentInfo-container{
    color: #685BE0;
}

.PaymentInfo-inputs{
    margin-bottom: 5%;
}

.account-btn{

}

.account-input{
    background-color: rgba(104, 91, 224, 0.15);
}