.AccountPage-content{
    text-align: center;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.AccountPage-selections{
    display: flex;
    justify-content: center;
}

.AccountPage-holder{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.AccountPage-details{

}