.CartTile-content{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: white;
    margin: 5%;
    padding: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CartTile-data{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25%;
    text-align: left;
}