.ListingsPage-content{
    text-align: center;
    min-height: 100vh;
    max-height: 100%;
    margin: 5%;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ListingsPage-header{
    display: flex;
    justify-content: end;
    margin-bottom: 2%;
}

.ListingsPage-tiles{
    /* display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5%;
    height: 100%;
    flex-grow: 1; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.ListingsPage-filters{
    border: 2px solid rgb(219, 219, 219);;
    max-width: 25%;
    min-width: 15%;
    margin-right: 5%;
    background-color: white;
    padding: 1%;
    height: fit-content;
    color:#685BE0;
    text-align: left;
}

.ListingsPage-bottom{
    display: flex;
    height: 100%;
    max-height: 100%;
    min-width: 100%;
}