.LoginPage-content{
    text-align: center;
}

.LoginPage-holder{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: white;
    margin: 5% 15% 15% 15%;
    padding: 5%;
}

.LoginPage-inputs{
    display: grid;
    row-gap: 10%;
    margin-bottom: 5%;
}